<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="arrange_image">
        {{#if result.image}}
        <img class="image_details img-fluid" src={{result.image}} width="500px">
        {{/if}}
        {{#unless result.image}}
        <img class="image_details" src="/images/404.png" width="500px">
        {{/unless}}
      </div>
    </div>
    <div class="col-md-6">
      <div class="main_details">
        <h2 class="movie_name_details">{{result.title}}</h2>
        {{#if result.directors}}
        <div class="director"><b class="details_bold">Director: </b>{{result.directors}}</div>
        {{else}}
        <div class="director"><p>No data found</p></div>
        {{/if}}
        <div class="director"><b class="details_bold">Cast Stars: </b>{{result.stars}}</div>
        <div class="director"><b class="details_bold">Genre: </b>{{result.genres}}</div>
        <div class="rating"><b class="details_bold">Rating:</b> {{result.imDbRating}}</div>
        {{#if result.year}}
        <div class="release_date"><b class="details_bold">Year:</b> <br>{{result.year}}</div>
        {{/if}}
        {{#unless result.year}}
        <div class="release_date"><b class="details_bold">Year:</b> <br>No Date Found</div>
        {{/unless}}
        <div class="description"><b class='details_bold'>Plot:</b> {{result.plot}}</div>
        <a class ="trailer" target="_blank" href="/trailer/{{result.id}}"><b class="trailer_bold">Watch Trailer</b></a>
        <form action="/addMovie/{{result.id}}" method="post">
          {{#unless isGameOnFavorites}}
          <div class="submit_form">
            <button class="like_button" type ="submit"><img class ="like_button_image"src="/images\logo2.png"></button>
            <span><b>Add to My Favorites</b></span>
          </div>
          {{/unless}}
          {{#if isGameOnFavorites}}
          <div class="submit_form">
            <img class ="like_button_image"src="/images\logo2.png" style="width: 5vh">
            <span style="color: rgb(0, 204, 0);"><b>Liked Game 😊</b></span>
          </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>








<hr>



<div id="people-likes">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1 class="text-center">People who liked this</h1>
                <hr>
            </div>
            {{#each checkMovie}}
            {{#each userfavorite}}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card text-center">
                    <img src="{{this.imageUrl}}" class="card-img-top mx-auto d-block" alt="Photo" style="height: auto">
                    <div class="card-body">
                        <h5 class="card-title">{{this.username}}</h5>
                        <p class="card-text">{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>











{{!--     <h1>People who liked this</h1>
   
    <div class="card" style="width: 18rem;">
       {{#each checkMovie}}
    {{#each userfavorite}}
  <img src="{{this.imageUrl}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.username}}</h5>
    <p class="card-text">{{this.description}}</p>
     {{/each}}
    {{/each}}
  </div>
</div> --}}

   

   


 
    












 