


<div class="container-fluid d-flex justify-content-center align-items-center my-5">
<div class=" container embed-responsive text-center my-5 ratio ratio-16x9 align-items-center ">
    <iframe src="{{result.linkEmbed}}"
    allowfullscreen>
</iframe>
</div>

{{!-- <div class="container-fluid d-flex justify-content-center align-items-center my-5">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="{{result.linkEmbed}}" allowfullscreen></iframe>
  </div>
</div> --}}



{{!-- <div class=" container-fluid d-flex justify-content-center align-items-center my-5 embed-responsive">
<div class="container embed-responsive embed-responsive-16by9">
    <iframe  src="{{result.linkEmbed}}"  allowfullscreen></iframe>
</div>
	</div>	 --}}
    
{{!-- <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{result.linkEmbed}}"></iframe>
</div> --}}


<!-- 21:9 aspect ratio -->
{{!-- <div class="embed-responsive embed-responsive-21by9">
  <iframe class="embed-responsive-item" src="{{result.linkEmbed}}"></iframe>
</div> --}}

